
/* defininndo variáveis que serão usadas */
:root{
  --bg-img: url("./assets/image.jpg");
  font-family: "Alice", serif;
  color: #573A37;
}

body{
  background: var(--bg-img) top center/cover;
}

#container{ 
  
  width: 800px;
  border-radius: 24px;
  background-color: bisque;
  margin: 48px auto; /*centraliza*/
  padding: 24px;

  /*Faz voltar o padrão da caixa, porque antes tava somando width com padding */
  box-sizing: border-box; 
}

img{
  width: 752px;
  height: 400px;

  border-radius: 16px;
}

h1{
  line-height: 140%;
  font-size: 27px;
}

h2{
  font-size: 24px;
}

h1,h2{
  color: #291B1A;
}
main{
  height: 1068px;
  width: 752px;
}


