
/* defininndo variáveis que serão usadas */
:root{
  --bg-img: url("./assets/image.jpg")
}

body{
  background: var(--bg-img) top center/cover;
}

#container{ 
  width: 800px;
  border-radius: 24px;
  background-color: bisque;
  margin: 48px auto; /*centraliza*/
  padding: 24px;

  /*Faz voltar o padrão da caixa, porque antes tava somando width com padding */
  box-sizing: border-box; 
}

img{
  width: 752px;
  height: 400px;

  border-radius: 16px;
}

main{
  height: 968px;
  width: 752px;
}


